body {
  font-family: 'Poppins', sans-serif;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
}

.mt {
  margin-top: 20px;
}

.my {
  margin: 20px 0;
}

.margin-bottom {
  margin-bottom: 30px;
}
