.register-container label {
  color: white;
}

.register-container .error-message {
  color: red;
  font-weight: bold;
  font-size: 17px;
}

.register-container .form-group {
  padding: 5px 10px 15px 10px;
  background-color: #222;
  border-radius: 0.5em;
}

.register-container .already-registered-text {
  margin-top: 25px;
  color: white;
}
