.login label {
  color: #9d9d9d;
}

.login .error-message {
  color: red;
}

.login .form-group {
  padding: 5px 10px 15px 10px;
  background-color: #222222;
  border-radius: 0.5em;
}

.login button {
  margin-top: 25px;
}

.login .register-text {
  margin-top: 25px;
  color: #9d9d9d;
}
