.submit-recipe-modal {
  color: #9d9d9d;
}

.submit-recipe-modal .modal-content {
  background-color: #222222;
}

.submit-recipe-modal button.close {
  color: #9d9d9d;
}

.submit-recipe-modal .modal-header {
  border-color: #9d9d9d;
}

.submit-recipe-modal .website-list {
  margin-top: 10px;
}

.submit-recipe-modal .website-text {
  border: 1px solid #9d9d9d;
  border-radius: 1em;
}

.submit-recipe-modal input {
  width: 100%;
  padding-left: 5px;
  border-radius: 1em;
}

.submit-recipe-modal button {
  margin-top: 10px;
}
