{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "react-app",
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "no-underscore-dangle": "off",
    "import/no-unresolved": [
      2,
      { "caseSensitive": false }
    ],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "component": ["Link"],
      "aspects": ["noHref"]
    }],
    "function-paren-newline": "off"
  }
}
