{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
    "es6": true,
    "node": true,
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/no-unresolved": [
      2,
      { "caseSensitive": false }
    ],
    "prettier/prettier": ["error", {
      "singleQuote": true,
      "trailingComma": "es5"
    }]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
