.submit .form-group {
  background-color: initial;
  padding: initial;
  border-radius: initial;
}

.submit .control-label {
  color: initial;
}

.submit .website-list {
  margin-top: 10px;
}

.submit .website-text {
  border: 1px solid #9d9d9d;
  border-radius: 1em;
}

.submit button {
  margin-top: 10px;
}
